.input {
  position: relative;
  width: 100%;

  label {
    --unit: 13px;
    display: block;
    margin-bottom: 0.25rem;
    font-size: var(--unit);
    font-weight: 500;
    color: inherit;

    span {
      color: var(--error);
    }
  }

  input {
    --size: 48px;
    --padding: 0.75rem 0.625rem;
    --unit: 1rem;
    --color: var(--bg);
    --border: var(--white);
    --radius: 3px;
    --background: var(--white-85);
    width: 100%;
    height: var(--size);
    padding: var(--padding);
    font-size: var(--unit);
    font-weight: 500;
    line-height: inherit;
    color: var(--color);
    text-overflow: ellipsis;
    appearance: none;
    background: var(--background);
    border: 1px solid var(--border);
    border-radius: var(--radius);
    outline: none;
    transition: border-color var(--transition);

    @include media(md) {
      --unit: 1.125rem;
    }

    &::placeholder {
      --color: var(--bg);
      color: var(--color);
      transition: opacity var(--transition), visibility var(--transition);
    }

    &:hover:not(:disabled, :read-only) {
      --border: var(--main-dark);
    }

    &:focus:not(:disabled, :read-only) {
      --border: var(--main);

      &::placeholder {
        visibility: hidden;
        opacity: 0;
      }
    }

    &:disabled {
      --color: var(--gray);
      --background: var(--light);
    }
  }
}
