-
  var paymentMethods = [
    {icon: 'qiwi-wallet', label: 'QIWI wallet'},
    {icon: 'yandex-money', label: 'Yandex Money'},
    {icon: 'web-money', label: 'Web Money'},
  ]

-
  var contactLinks = [
    {url: 'mailto:info@ipsum228.com', icon: 'email', label: 'info@ipsum228.com'},
    {url: '#', icon: 'vk', label: 'Мы вконтакте'},
  ]

footer(class='footer')
  div(class='container')
    div(class='footer__inner')
      span(class='footer__copy') © 2018 «LOREMIPSUM.NET» Все права защищены.
      ul(class='footer__list')
        each item in paymentMethods
          li(class='footer__list-item')
            +icon(item.icon)
            =item.label
      div(class='footer__contacts')
        each item in contactLinks
          a(class='footer__contacts-item' href=item.url)
            span(class='footer__contacts-icon')
              +icon(item.icon)
            =item.label
