footer(class='footer')
  div(class='container')
    div(class='footer__inner')
      span(class='footer__copy') © 2018 «LOREMIPSUM.NET» Все права защищены.
      ul(class='footer__list')
        li(class='footer__list-item')
          span(class='footer__list-icon')
            +icon('qiwi-wallet')
          | QIWI wallet
        li(class='footer__list-item')
          span(class='footer__list-icon')
            +icon('yandex-money')
          | Yandex Money
        li(class='footer__list-item')
          span(class='footer__list-icon')
            +icon('web-money')
          | Web Money
      div(class='footer__contacts')
        a(class='footer__contacts-item' href='mailto:info@ipsum228.com')
          span(class='footer__contacts-icon')
            +icon('email')
          | info@ipsum228.com
        a(class='footer__contacts-item' href='#')
          span(class='footer__contacts-icon')
            +icon('vk')
          | Мы вконтакте
