.btn {
  --background: transparent;
  --border: transparent;
  --color: inherit;
  --size: 16px 32px;
  --radius: var(--border-radius);
  display: inline-flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding: var(--size);
  font-size: 13px;
  font-weight: 400;
  line-height: 1;
  color: var(--color);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: var(--background);
  border: 1px solid var(--border);
  border-radius: var(--radius);
  transition: opacity var(--transition);

  &:hover {
    opacity: .8;
  }

  &--fill {
    --background: var(--main);
    --border: var(--white);
    --color: var(--white);
  }

  &--outline {
    --background: var(--white);
    --border: #6F6D7B;
  }

  &--text {
    --size: 0;
    color: inherit;
    transition: color var(--transition);

    &:hover {
      color: #43ABF0;
    }
  }

  &--full {
    width: 100%;
  }
}
