section(class='intro')
  div(class='container')
    div(class='intro__inner')
      h1(class='intro__title title') #[span Lorem ipsum] dolor sit #[br] amet consectetur #[span adipiscing]
      p(class='intro__text') At vero eos et accusamus et iusto odio dignissimos ducimus!
      ul(class='intro__list')
        li(class='intro__list-item') Totam rem aperiam eaque ipsa
        li(class='intro__list-item') Sit voluptatem accusantium doloremque laudantium
        li(class='intro__list-item') Sed ut perspiciatis, unde omnis iste natus error
      div(class='intro__btns')
        +button(class='intro__btn btn--fill') заказать
        +button(class='intro__btn btn--outline') подробнее
