.icon-search {
  width: 34px;
  height: 34px;
}

.icon-percent {
  width: 31px;
  height: 31px;
}

.icon-subtract {
  width: 38px;
  height: 41px;
}

.icon-mail {
  width: 36px;
  height: 28px;
}

.icon-dollar {
  width: 38px;
  height: 25px;
}

.icon-qiwi-wallet {
  width: 20px;
  height: 20px;
}

.icon-yandex-money {
  width: 14px;
  height: 18px;
}

.icon-web-money {
  width: 18px;
  height: 18px;
}

.icon-email {
  width: 15px;
  height: 12px;
}

.icon-vk {
  width: 10px;
  height: 14px;
}

.icon-file {
  width: 17px;
  height: 20px;
}
