extends ../layouts/default

block head
  title Main
  meta(name='description', content='')

block vars
  - let page = 'main'

block content
  include ../includes/intro/intro
  include ../includes/order/order
