html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  margin: 0;
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: 400;
  line-height: var(--line-height);
  color: var(--black);
  text-size-adjust: 100%;
  text-rendering: optimizespeed;
  background-color: var(--white);
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  display: inline-block;
  padding: 0;
  background-color: transparent;
  border: none;
}

img {
  display: block;
  max-width: 100%;
}

iframe {
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

address {
  font-style: normal;
}

* {
  scrollbar-color: var(--main) var(--bg-light);
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-track {
  background-color: var(--bg-light);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--main);
  border-radius: 3px;
}
